---
import StickyTitle from "@components/ui/StickyTitle.astro";
import type es from "@i18n/ui/es";

interface Props {
  texts: typeof es.about.process;
}

const { texts: t } = Astro.props;
---

<section
  class="relative flex w-full flex-col items-center gap-20 md:gap-32 lg:gap-52"
>
  <StickyTitle title={t.title} simple button="" to="" />
  <div
    class="relative flex w-full flex-col items-center gap-20 px-4 md:gap-24 md:px-8 lg:gap-36"
  >
    <p
      class="observe-enter max-w-2xl text-center text-sm/relaxed font-medium text-balance opacity-0 md:text-base/relaxed lg:max-w-3xl lg:text-xl/relaxed"
    >
      {t.texts}
    </p>
    <div
      class="flex w-full max-w-6xl flex-wrap items-center justify-center gap-9"
    >
      {
        t.process.map(({ step, label, description }, index) => (
          <div
            class="group observe-enter relative flex h-44 w-80 flex-col items-center justify-center gap-2.5 overflow-hidden rounded-sm border border-neutral-800/80 bg-neutral-950 p-4 opacity-0 transition-all duration-300 ease-in-out hover:scale-110 hover:bg-neutral-800/80 max-md:w-full"
            style={`animation-delay: ${index * 150}ms`}
          >
            <div class="flex size-full flex-col items-center justify-center text-center uppercase duration-300 group-hover:-translate-y-full">
              <h3 class="font-mono text-8xl font-medium">{step}</h3>
              <p class="text-lg/tight font-medium text-neutral-400">{label}</p>
            </div>
            <p class="absolute flex size-full translate-y-full items-center justify-center p-4 text-center text-xl/tight font-medium duration-300 group-hover:translate-y-0">
              {description}
            </p>
          </div>
        ))
      }
    </div>
  </div>
</section>
