---
import Spin from "@assets/icons/Spin.astro";
import type es from "@i18n/ui/es";
import type { Locale } from "@i18n/utils";

interface Props {
  currentLocale: Locale;
  texts: typeof es.contact.form;
}

const { texts: t, currentLocale } = Astro.props;
---

<form
  id="contactForm"
  data-toast={JSON.stringify(t.toaster.unexpected)}
  class="flex w-full flex-col"
>
  <div class="flex w-full max-md:flex-col">
    <input type="hidden" name="locale" value={currentLocale} />
    <input
      type="text"
      name="name"
      minlength={3}
      placeholder={t.name}
      class="flex-1 border-t border-l border-neutral-800/80 bg-neutral-900/15 p-[18px] text-sm/snug font-medium outline-hidden placeholder:text-sm/snug placeholder:text-neutral-400 focus:border focus:border-neutral-400 max-md:border-r md:border-b"
      required
    />
    <input
      type="email"
      name="email"
      placeholder={t.email}
      class="flex-1 border border-neutral-800/80 bg-neutral-900/15 p-[18px] text-sm/snug font-medium outline-hidden placeholder:text-sm/snug placeholder:text-neutral-400 focus:border focus:border-neutral-400"
      required
    />
  </div>
  <textarea
    name="message"
    placeholder={t.message}
    minlength={15}
    class="min-h-56 flex-1 border-x border-b border-neutral-800/80 bg-neutral-900/15 p-[18px] text-sm/snug font-medium outline-hidden placeholder:text-sm/snug placeholder:text-neutral-400 focus:border focus:border-neutral-400 md:min-h-60"
    required></textarea>
  <button
    type="submit"
    class="flex cursor-pointer items-center justify-center bg-neutral-800 p-[18px] text-sm/tight font-medium uppercase transition-colors duration-200 disabled:cursor-not-allowed lg:hover:bg-neutral-800/80"
  >
    <span>{t.button}</span>
    <Spin styles="size-4 animate-spin hidden" />
  </button>
</form>

<script>
  import { actions } from "astro:actions";
  import showToast from "@lib/scripts/showToast.ts";
  import { isInputError } from "astro:actions";

  document.addEventListener("astro:page-load", () => {
    const form = document.getElementById("contactForm") as HTMLFormElement;

    form?.addEventListener("submit", async (e) => {
      e.preventDefault();
      const btn = form.querySelector("button")!;
      btn.disabled = true;
      Array.from(btn.children).forEach((child) => {
        child.classList.toggle("hidden");
      });

      const unexpected = JSON.parse(form.dataset.toast!);
      const formData = new FormData(form);

      try {
        const { data: response, error } = await actions.sendMessage(formData);
        if (isInputError(error)) {
          showToast({
            title: unexpected.title,
            message: unexpected.message,
            type: "error",
          });
          return;
        }
        if (response) {
          const { success, data } = response;
          showToast({
            title: data.title,
            message: data.message,
            type: success ? "success" : "error",
          });
          success && form.reset();
        }
      } catch (err) {
        showToast({
          title: unexpected.title,
          message: unexpected.message,
          type: "error",
        });
      } finally {
        Array.from(btn.children).forEach((child) => {
          child.classList.toggle("hidden");
        });
        btn.disabled = false;
      }
    });
  });
</script>
