---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";

interface Props {
  post: CollectionEntry<"posts">;
}
const { post } = Astro.props;
const { id, data } = post;
const [locale, slug] = id.split("/");
const { title, cover, summary, date, tag } = data;
const formatter = new Intl.DateTimeFormat("en-US", {
  dateStyle: "medium",
});
---

<article
  class="group observe-enter block size-full opacity-0 max-md:border-b max-md:pb-11"
>
  <a href={getRelativeLocaleUrl(locale, `blog/${slug}`)}>
    <header>
      <div class="flex items-center gap-2 text-xs">
        <span class="uppercase">{tag}</span>
        <span>|</span>
        <time datetime={date.toISOString()}>
          {formatter.format(date)}
        </time>
      </div>
      <h3 title={title} class="mt-4 mb-5 line-clamp-1 text-xl font-medium">
        {title}
      </h3>
    </header>

    <div class="relative aspect-square overflow-hidden rounded-sm">
      <div class="absolute inset-0 z-10 bg-neutral-950/10"></div>
      <Image
        src={cover}
        alt={`Portada del post: ${title}`}
        class="size-full object-cover transition-transform duration-500 ease-out group-hover:scale-110"
      />
    </div>

    <p class="mt-5 line-clamp-3 text-lg md:line-clamp-2">{summary}</p>
  </a>
</article>
