---
import ButtonRounded from "@components/ui/ButtonRounded.astro";
import type { Locale } from "@i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

interface Props {
  tags: string[];
  currentLang: Locale;
  currentPathname: string;
  labelAll: string;
}

const { currentLang, currentPathname, tags, labelAll } = Astro.props;
---

<div class="flex flex-wrap items-center justify-center gap-2 md:gap-4">
  <ButtonRounded
    to={getRelativeLocaleUrl(currentLang, `blog`)}
    styles={currentPathname === `/${currentLang}/blog/`
      ? "bg-white border-white text-black hover:bg-white pointer-events-none"
      : `border-white hover:bg-white hover:text-black`}
  >
    <span class="px-4 py-1.5 text-lg font-medium uppercase">{labelAll}</span>
  </ButtonRounded>

  {
    tags.map((tag) => (
      <ButtonRounded
        to={getRelativeLocaleUrl(currentLang, `blog/tag/${tag}`)}
        styles={
          currentPathname === `/${currentLang}/blog/tag/${tag}/`
            ? "bg-white border-white text-black hover:bg-white pointer-events-none"
            : `border-white hover:bg-white hover:text-black`
        }
      >
        <span class="px-4 py-1.5 font-medium uppercase md:text-lg">{tag}</span>
      </ButtonRounded>
    ))
  }
</div>
